@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);

html, body{
    margin: 0;
    padding: 0;
}
.mobo {
    display: none;
  }
  
/*INCIO CUTDOWN*/
.butonServer{
    padding: 25px;
    border-radius: 50px;
    background: #038b5a;
    color: white;
}
.butonServer a{
    font-size: 16px;
    text-decoration: none;
    color: white;
}
.countdownserver{
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #333;
}
.countdown{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    flex-wrap: wrap;
}
.countdown div{
    display: grid;
    place-items: center;
    padding: 10px;
}
span{
    display: block;
    padding: 10px;
    text-align: center;
    color: #74ffe7;
    font-size: 1.5rem;
    font-weight: 400;
}
.final-sms{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    place-items: center;
    transform: translateY(-100%);
    transition: ease-in-out 0.5s;
    background-color: #333;
}
.final-sms h2{
    text-align: center;
    font-size: 100px;
    color: #fff;
}
#days{
    display: grid;
    place-items: center;
    border: solid 1px #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    background-color: #04AA6D;
}
#hours{
    display: grid;
    place-items: center;
    border: solid 1px #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    background-color: #04AA6D;
}
#minutes{
    display: grid;
    place-items: center;
    border: solid 1px #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    background-color: #04AA6D;
}
#seconds{
    display: grid;
    place-items: center;
    border: solid 1px #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    background-color: #04AA6D;
}
/*FIN CUTDOWN*/
/*ZONA PREUBA*/
/*.link-nav{
    color: white;
    background: #04AA6D;
    padding: 10px 30px 10px 30px;
    padding-left: 10px;
    text-decoration: none;
    border-radius: 5px; 
}

.link-nav:hover{
    background: #038b5a;
}
.list-link{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.info{
    text-align: center;
    font-family: sans-serif;
}
.info h2{
    font-size: 20px;
}
.list-link li img{
    display: inline-block;
    margin: auto;
    width: 20px;
    height: 20px;
}

.nav-class{
    background: rgb(0, 0, 0);
    padding: 10px;
}*/
.navbar {
    display: block;
    flex: 1;
    background: #008246;
  }
  
  .navitems {
    display: flex;
    justify-content: space-around;
    padding: 24px 64px;
  }
  
  .navitem {}
  
  .navitem a {
    text-decoration: none;
    font: 20px "Noto Serif", serif;
    color: #eee;
  }
  .navitem a img{
    display: inline-block;
    margin: auto;
    width: 20px;
    height: 20px;
}
  .navheader {
    flex: 1;
    background: #004C3A;
    padding: 16px 24px;
  }
  
  .navheader a {
    font: 20px "Noto Serif", serif;
    color: #dfd;
    text-decoration: none;
  }
  
  /*.mobo-hidden {
    display: block
  }*/
  
  @media screen and (max-width: 620px) {
    .mobo {
      display: block;
    }
    
    .mobo-hidden {
      display: none;
    }
   
    .navitems {
      flex-direction: column;
      padding: 24px 24px;
      background: #008246;
    }
    .navitem:not(:last-child) {
      width: 50%;
      margin-bottom: 16px; 
    }
    .navitem:nth-child(even) {
      position: absolute;
      left: 50%;
      transform: translateY(-100%);
    }
  }
body{
    background: #91a59e;
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
}

.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container .cards{
    width: 300px;
    height: 320px;
    border-radius: 8px;
    box-shadow: 0 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all.25s;
}

.container .cards:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);   
}

#viduxlogon{
    width: 250px;
    height: 150px;
}
.container .cards img{
    width: 100px;
    height: 100px;
}

.container .cards h4{
    font-weight: 600;
}

.inf-footer{
    background-color: black;
    color: white;
    grid-area: footer;
    padding-left: 350px;
    padding-right: 350px;
}


.container .cards p{
    padding: 0 1rem;
    font-size: 15px;
    font-weight: 300;
}

.container .cards a{
    font-weight: 500;
    padding: 4px;
    text-decoration: none;
    background: #04AA6D;
    color: white;
    border-radius: 5px;
}
.container .cards a:hover{
    background: rgb(27, 27, 27);
}

i {
    position: absolute;
    
    background: #fff;
    border-radius: 50%;
    box-shadow: inset 0 -1px 1px rgb(114, 114, 114);
    top: -10px;
    animation: nieve linear infinite;
}

@keyframes nieve {
    0% {
        top: -10px;
    }
    100% {
        top: calc(100vh + 50px);
    }
}